html,body {
    margin: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.chat-box {
   display: flex;
   flex-direction: column;
   height: 100%;
   box-shadow: 0 0 12px 0 black;
   overflow: hidden;
   position: relative;
}

#chat-box__body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url('fon.jpeg');
    background-color: antiquewhite;
    color: white;
    padding: 10px;
    font-size: 2rem;
    background-size: cover;
    opacity: 90%;
}

#chat-box__body::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

#chat-box__body::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 10px;
}

#chat-box__body::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: transparent;
    border-radius: 10px;
}

.chat-box__footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(5px);
    height: fit-content;
    padding: 10px;
    opacity: 90%;
    width: -webkit-fill-available;
}

.send-btn {
    color: white;
    font-size: 25px;
    margin: auto 5px 5px 5px;
    cursor: pointer;
}

textarea {
    color: white;
    width: -webkit-fill-available;
    min-height: 35px;
    overflow-y: hidden;
    resize: none;
    background-color: black;
    border-color: transparent;
  }

textarea:focus, input:focus {
    outline: none;
}

textarea::placeholder {
    color: rgba(255, 255, 255, 0.642);
}

textarea:focus::placeholder { 
    color:transparent; 
}

.msg-sent {
    background-color: rgb(60 174 134);
    margin: 4px 0;
    border-radius: 20px;
    padding: 10px;
    font-size: 17px;
    display: inline-block;
    width: fit-content;
    overflow-wrap: anywhere;
}

.name {
    color: #ffeb3b;
    margin-bottom: 2px;
}

.date {
    opacity: 0.7;
    font-size: 13px;
    text-align: right;
}